@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
body{
    text-align: center;
    width: auto;
    height: 44.5vw;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/Simple_world_map.svg/2560px-Simple_world_map.svg.png");
    background-size: 100%;
}
.card-container{
    display: flex;
    width: 550px;
    height: 550px;
    align-items: center;
    /*border: 3px solid red;*/
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
p, h1{
    font-family: 'Permanent Marker', cursive;
}
p{
    font-size: 20px;
    color: black;
}
.card{
    background: #f9adff;
    width: 150px;
    height: 150px;
    border: 1px solid pink;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
}